In [3]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

#Ans-

import pandas as pd

my_series = pd.Series([4, 8, 15, 16, 23, 42])

print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

#Ans-

import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(my_list)

print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [11]:
#Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.

#Ans-

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25,30,27],
    'Gender': ['Female', 'Male', 'Female',]
}

Dataframe= pd.DataFrame(data)

In [12]:
Dataframe

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans-

In pandas, a DataFrame is a two-dimensional tabular data structure with labeled axes (rows and columns) that can hold data of different types. 
It can be thought of as a collection of Pandas Series objects, where each Series represents a column of the DataFrame.

On the other hand, a Series is a one-dimensional array-like object that can hold data of any type, including objects, integers, and strings.
A Series has an index that labels each element in the array

Here is an example that illustrates the difference between a Pandas Series and a DataFrame:

In [14]:
import pandas as pd

# Creating a Pandas Series
my_series = pd.Series([1, 2, 3, 4, 5])
print("Pandas Series:")
print(my_series)

Pandas Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [17]:
# Creating a Pandas DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eva'],
    'Age': [25, 32, 18, 47, 22],
    'Gender': ['F', 'M', 'M', 'M', 'F'],
    'City': ['New York', 'Paris', 'London', 'Sydney', 'Tokyo']
}
my_dataframe = pd.DataFrame(data)

In [18]:
my_dataframe

      Name  Age Gender      City
0    Alice   25      F  New York
1      Bob   32      M     Paris
2  Charlie   18      M    London
3     Dave   47      M    Sydney
4      Eva   22      F     Tokyo

In [ ]:
In the example above, my_series is a Pandas Series object that holds five integer values. 
Each value has a default index starting from 0.

The my_dataframe variable is a Pandas DataFrame that holds information about people (Name, Age, Gender, City). 
The DataFrame consists of four columns (each of them a Series), and each column has a label (Name, Age, Gender, City). 
Unlike the Pandas Series, a DataFrame can hold data of different types (integers, strings, floats, objects, etc.) in each column. 
Additionally, the DataFrame can have a row index that can be set when the DataFrame is created or modified later.

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Ans-

Pandas is a popular data analysis library in Python, and it provides various functions to manipulate data in a DataFrame. 
Here are some common functions:

1.Filtering: 
You can filter the data in a DataFrame based on certain conditions using functions like loc, iloc, and query. 
For example, you might use these functions to extract rows from a DataFrame where a certain column meets a specific criteria, such as df.loc[df['age'] > 30].

2.Sorting: 
You can sort a DataFrame based on one or more columns using the sort_values function. 
For example, df.sort_values(by=['age', 'salary'], ascending=[False, True]) would sort the DataFrame by age in descending order and then by salary in ascending order.

3.Aggregating: 
You can summarize data in a DataFrame using functions like mean, sum, count, and groupby.
For example, you might use df.groupby('department')['salary'].mean() to get the average salary for each department.

4.Merging:
You can merge two or more DataFrames into a single DataFrame using functions like merge or concat.
For example, you might use pd.merge(df1, df2, on='id') to combine two DataFrames based on a common column.

5.Cleaning: 
You can clean up data in a DataFrame using functions like dropna, fillna, and replace. 
For example, you might use df.dropna() to remove any rows that contain missing values.

These are just a few examples of the many functions available in Pandas for manipulating data in a DataFrame. 
Depending on the specific data analysis task, you may need to use one or more of these functions, or others not mentioned here.

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans-

In Pandas, Series and DataFrame are mutable in nature, while Panel is considered to be immutable.

A mutable object is one whose contents can be changed after creation, while an immutable object cannot be changed after it is created.

Series and DataFrame objects can be modified after creation by adding, deleting or updating values.
For example, you can add a new column to a DataFrame, delete a row from a DataFrame, or update the values in a Series.

On the other hand, a Panel object is immutable, meaning its contents cannot be modified once it is created. 
If you need to modify a Panel, you must create a new Panel with the desired modifications.

However, it is important to note that while Series and DataFrame are mutable, certain operations on them can create a new copy rather than modifying the original object.
For example, when you perform a slicing operation on a DataFrame, a new DataFrame is created, rather than modifying the original.

In [20]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.

#Ans-

import pandas as pd

names=pd.Series(['Aman','Ajendra','Akash','Gyan','Umesh'])
ages=pd.Series([27,28,26,29,30])
occupations=pd.Series(['Data Scientist','Tester','SAP','Quality Manager','Enterpreneur'])

df=pd.DataFrame({'Name':names,'Age':ages,'Occupation':occupations})

In [21]:
df

      Name  Age       Occupation
0     Aman   27   Data Scientist
1  Ajendra   28           Tester
2    Akash   26              SAP
3     Gyan   29  Quality Manager
4    Umesh   30     Enterpreneur

In [ ]:
In the pd.DataFrame() function, you pass a dictionary where the keys are the column names, and the values are the corresponding Series that you want to combine into the DataFrame.
The resulting DataFrame has the same length as the Series, with each element in the Series corresponding to a row in the DataFrame.

Note that the Series you pass to pd.DataFrame() must have the same length, otherwise you will get an error. 
Also, the column names in the resulting DataFrame will be in the same order as the keys in the dictionary you pass to pd.DataFrame().